 
.default_answer {
	color: black
}

.correct_answer_txt {
	color: #1E88E5;
	font-weight: 500;
}

.incorrect_answer_txt {
	color: #D81B60;
	font-weight: 500;
}

.skip_answer_txt {
	color: #FFA000;
	font-weight: 500;
}

.skip_answer_img {
	outline: 2px solid #FFA000
}

.correct_answer_img {
	outline: 2px solid #1E88E5
}

.incorrect_answer_img {
	outline: 2px solid #D81B60
}

.label_img img {
	outline: 2px solid #1E88E5
}

.center {
	display: flex;
	justify-content: center;
}

.value-box-showcase {
	overflow: hidden; 
}

ul.nav-pills{
    display: flex !important;
    justify-content: center !important;
  }

#tabs li a[data-value='home_panel'],
#tabs li a[data-value='train_panel'],
#tabs li a[data-value='progress_panel'],
#tabs li a[data-value='data_panel'] { display: none; }

@media (max-width:992px) { #myImage { position: fixed; right: 1%; top: 0.5%; } div.navbar-header > button {margin-right: 175px}}

.navbar-default {
    background-color: #3434c1 !important;
}

.bold {
	font-weight: 2000;
}

